//general resets
* {
  box-sizing: border-box;
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: url("../../img/textures/concrete_seamless.png");
  background-repeat: repeat;
}

nav {
  top: 0;
  #logo-a {
    margin-top: 2px;
    margin-left: 5px;
    width: 75vh;
    max-width: 90vw;
    transform:translate(-50%,-50%);
    margin-left: 50vw;
    float: left;
    position: fixed;
    margin-top: calc(50vh - 55px);
    z-index: 50;
    opacity: 0
  }
  #logo {
    margin-top: 2px;
    margin-left: 30px;
    width: 80px;
    float: left;
    position: fixed;
    top: 0;
    z-index: 50;
  }
  .nav-background-a {
    width: 100vw;
    height: 95px;
    background: white;
    position: fixed;
    z-index: 5;
    top: -55px;
    border-bottom: 10px solid #872B29;
  }
  .nav-background {
    width: 100vw;
    height: 95px;
    background: white;
    position: fixed;
    z-index: 5;
    top: 0;
    border-bottom: 10px solid #872B29;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    position: fixed;
    right: 0;
    height: 85px;
    .wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    .side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 50px;
    }
    .left {
      border-right: 2px solid #872B29;
      padding-right: 10px;
      font-weight: bold;
    }
    .right {
      padding-left: 10px;
    }
    a {
      color: #6A6A6A;
      text-decoration: none;
    }
  }
}

.jumbotron {
  width: 100vw;
  height: 350px;
  max-height: 25vw;
  margin-top: 95px;
  background: url("../../img/exterior/residential/house5/1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 33px 29px -31px rgba(0, 0, 0, 0.75);
}

.subcategories {
  width: 100vw;
  background-color: white;
  padding: 1px;
  ul {
    @media (max-width: 465px) {
        flex-direction: column;
        li {
          margin: 0 auto;
          text-align: center;
        }
    }
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li:hover {
      cursor: pointer;
    }
  }
  .selected {
    color: #872B29;
  }
}

.section-title {
  @include desktop {
    height: 125px;
  }
  width: 100vw;
  height: 75px;
  background: url("../../img/textures/dark_wood_@2X.png");
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    color: white;
    font-size: 2em;
    border-bottom: 5px solid #872B29;
    display: inline-block;
  }
}

.portfolio {
  box-shadow: inset 0px 6px 18px -6px rgba(0, 0, 0, 0.62);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-wrapper {
  text-align: center;
  color: white;
  margin: 10px auto;
  width: 100vw;
}

.sample-image {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  li {
    list-style: none;
    width: 30vw;
    height: 20vw;
    min-width: 327px;
    min-height: 218px;
    max-width: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 10px auto;
    div {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 10px auto;
    }
  }

}
.dropzone {
  display: flex;
  justify-content: center;
  width: 100%;
  .new-job {
    border: 7px solid #872B29;
    background: white;
    color: #6A6A6A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 2em;
    }
  }
  li {
    margin: 20px;
    max-width: 500px;
    div {
      box-shadow: 1px 6px 18px -2px rgba(0, 0, 0, 0.62);
    }
  }
}

.thumbnails {
  display: flex;
  //justify-content: flex-start;
  width: 100%;
  li {
    margin: 20px;
    max-width: 500px;
    div {
      box-shadow: 1px 6px 18px -2px rgba(0, 0, 0, 0.62);
    }
  }
}

.image-list {
  position: relative;
  li {
    position: absolute;
  }
}

.photo-viewer-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1000;
  .container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    .image-container {
      width: 100%;
      height: 80%;
      position: absolute;
      left: 0;
      top: 10%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
